.DS_Store
Thumbs.db
db.json
package-lock.json
yarn.lock
*.log
node_modules/
/public*/
.deploy*/
.idea/
.vscode/
_multiconfig.yml
_config.*.yml
_config.yml
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vercel
