name: CetaHouseCache
catch_rules:
  - rule: ^https\:\/\/((cdn|fastly|gcore|test1|quantil)\.jsdelivr\.net\/npm|unpkg\.com)
    transform_rules:
      - search: _
        replace:
          - _
          - https://jsd.cdn.sinzmise.top/npm
          - https://npm.webcache.cn

  - rule: ^https\:\/\/cdnjs\.cloudflare\.com\/ajax\/libs
    transform_rules:
      - search: _
        replace:
          - _
          - https://cdnjs.webstatic.cn/ajax/libs
          - https://cdnjs.cdn.sinzmise.top/ajax/libs
          - https://cdnjs.onmicrosoft.cn/ajax/libs

  - rule: ^https\:\/\/((cdn|fastly|gcore|test1|quantil)\.jsdelivr\.net\/gh)
    transform_rules:
      - search: _
        replace:
          - _
          - https://jsd.cdn.sinzmise.top/gh
          - https://code.webcache.cn/gh
